$theme-color-submit: #61BD4F; //log-in submit buttom color
$theme-color-submit-shadow: #3F6F21; //shadow-green for buttom 
$link-color: #298FCA; // link color 
$hover-link-color:  #264d73; // hover over link color 


//errors
$error-color: #eb5a46; //error color

//landing page
$theme-background-color-nav: #0079bf;
$theme-background-color-login-nav:#026aa7;
$theme-background-splash: linear-gradient(135deg, #0079BF, #5067C5);

$background-nav-shadow: hsla(0,0%,100%,.3);
$background-nav-shadow-hover: rgba(255, 255, 255, 0.5);


$list-add-hover-color: #6b778c;
$list-text-color: #172b4d;
$list-background-color: #dfe1e6;