@import "./color.scss";
@import "./fonts.scss";

// login & signup input box 
@mixin signinInputBox{
        background: #edeff0;
        border-radius: 4px;
        border: 1px solid #cdd2d4;
        box-sizing: border-box;
        padding: .5em;
        color: inherit;
        font-size: 16px;
        font-weight: 300;
        padding: 10px;
        display: block;
        width: 400px;
        margin: 0 0 1.2px;
        line-height: 1.44em;
}

//sign in and sign up button styling
@mixin signinButton(){
        display: inline;
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        color: white;
        box-shadow: 0 2px 0 $theme-color-submit-shadow;
        background-color: $theme-color-submit;
}


@mixin navBarGeneral() {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        font-family: $theme-font-base;
}

@mixin splashSectionLayout(){
        font-family: $theme-font-base;
        box-sizing: border-box;
        width: -webkit-fill-available;
}