@import "../base/color.scss";
@import "../base/fonts.scss";
@import "../base/mixin.scss";


.board-show{
    font-family: $theme-font-base;
    background: $theme-background-color-login-nav;
    height: 45px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 40px;

    .board-show-navbar{
        color: white;
        font-size: 23px;
        padding-top: 14px;
    }
   
}
.board-show-list-index-container{
    display: flex;
    background-color: green;     
}

.list-title-ul{
    color: pink;
    display: flex;
    flex-direction: row;
}

.list-index-item-li{
    display: flex;
    flex-direction: column;

    }