@import "../base/color.scss";
@import "../base/fonts.scss";
@import "../base/mixin.scss";


.board-show{
    font-family: $theme-font-base;
    background: $theme-background-color-login-nav;
    height: 34px;
    display: flex;
    position: fixed;
    margin-left: 10px;
    top: 40px;
    width: 100vw;

    .board-show-navbar{
        font-size: 23px;
        padding-top: 5px;
        color: white;
    }
    .board-title-update-button{
        @include submitButton;
        height: unset;
        widows: unset;
    
    }
    .board-title-update-button:hover{
        @include submitHover;
    }
    .board-show-title-edit-input{
        font-size: 23px;
        border-radius: 3px;
        border: none;
        width: 300px;
    }
}
.board-show-list-index-container{
    display: flex;
    background: $theme-background-color-login-nav;
    height: 100vh;     
}
.list-index-container{
    background:$theme-background-color-login-nav;

    .list-title-ul{
        display: flex;
        flex-direction: row;
        margin-top: 93px;
    }

    .list-index-item-li{
        display: flex;
        flex-direction: column;
        font-family: $theme-font-base;
        background: transparent;
        width: 300px;
        margin-left: 10px;
        border-radius: 5px;
        height: 86vh;
        overflow: hidden;

        .list-index-item-nav{
            display: flex;
            background:$board-list-background;
            padding-bottom: 5px;
        
            .list-index-item-title{
                color: #484040;
                display:flex;
                justify-content: center;
                height: auto;
                margin-top: 10px;
                margin-left: 5px;
                padding-left: 10px;
                font-size: medium;
                font-weight: 900;
                word-break: break-word;
            }
            .edit-list-text-input{
                font-size: medium;
                border: none;
                border-radius: 3px;
                resize: none;
                width: 90%;
                height: unset !important;
            }
            .edit-list-button{
                @include submitButton;
                height: unset;
                widows: unset;
                margin: unset;
                margin-left: unset;
            }
            .edit-list-button:hover{
                @include submitHover;
            }
            .space{
                flex-grow: 1;
            }
            .delete-list-button{
                font-family:  $theme-font-base;
                justify-content: right;
                border-radius: 5px;
                font-size: smaller;
                margin: 5px;
                height: fit-content;
                width:fit-content;
                cursor: pointer;
            }
            .delete-tool-tip-container{
                position: relative;
                display: inline-block;
            }
            .delete-tool-tip-container .delete-tool-tip-text {
                @include tooltipGeneral
                }

                .delete-tool-tip-container:hover .delete-tool-tip-text {
                 @include tooltipHoverVisiable;
                }
        }


        .card-index-container{
            word-break: break-word;
            overflow-y: auto;
            background: $board-list-background;
            padding-bottom: 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            .card-index-div{
                border: 0px outset lightgray;
                margin-bottom: 10px;
                background: $card-background-color;
                color: $list-text-color;
                border-radius: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                font-size: 14px;
                padding-right: 10px;
                cursor: pointer;
                box-shadow: $card-shadow-color;
                margin-left: 5px;
                margin-right: 5px;

            }

        }
        .card-index-div:hover{
                background: hsla(0,0%,100%,.3);
            }
    }

    .create-list-form-container{
        display: flex;
        flex-direction: row;
        font-family: $theme-font-base;
        background:$theme-background-color-nav;
        width: 300px;
        margin-left: 10px;
        border-radius: 5px;
        margin-right: 10px;
        height: fit-content;

        .create-list-form{
            display: flex;
            flex-direction: column;
            width: 100%;
            .create-list-text-input{
                margin-left: 8px;
                background:$theme-background-color-nav;
                border-color: transparent;
                cursor: pointer;
                font-size: 14px;
                border-radius: 5px;
                margin-top: 7px;
                width: 93%;
                resize: none;
            }

        }
        .create-list-button{
             @include submitButton;
        }
        .create-list-button:hover{
             @include submitHover;
        }
        .create-list-text-input:hover{
            background: white;
        }
        .create-list-text-input::placeholder{
            color: white;
        }

    }
    
}


input[type="text"]::placeholder{
    color:black;
    font-family: $theme-font-base;
}


.create-card-form-container{
    display: flex;
        flex-direction: row;
        font-family: $theme-font-base;
        background: $list-background-color;;
        width: 100%;
        border-radius: 5px;
        height: auto;
        
        

    .create-card-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $board-list-background;
    }
    .create-card-text-input{
        margin-left: 5px;
        margin-right: 5px;
        background: $list-background-color;
        border-color: transparent;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
        resize: none;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow:$card-shadow-color;
    }
    // .create-card-text-input:focus{
    //     height:unset !important;
    // }
    .create-card-button{
        @include submitButton;
        margin-left: 5px;
    }
    .create-card-button:hover{
        @include submitHover;
    }

}


.create-card-text-input:hover{
    background: white;
}

