@import "../base/color.scss";
@import "../base/fonts.scss";
@import "../base/mixin.scss";



.card-show-container{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 75%;
    justify-content: start;
    text-align: center;
    font-family: $theme-font-base;
}

.card-show-card-title{
    font-size: 24px;
    color:$theme-background-color-login-nav;
    padding-bottom: 10px;
    word-break: break-word;
}


.card-show-list-title{
    color: #565252;
    font-size: 14px;
    
}
.card-show-task-description-container{
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6px;
    word-break: break-word;
}

.card-show-description-title{
    text-align: left;
    font-size: 15px;
    margin-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15%;
    color: #565252;
    text-align: center;

}

.card-show-edit-description-form-container{
    display: flex;
    flex-direction: column;
    font-family: $theme-font-base;
}

.card-show-description-input{
    height: 100px;
    border-radius: 5px;
    border-color: transparent;
    color: black;
    font-size: 17px;
    background: darkgray;
    font-family: $theme-font-base;
    resize: none;
    width: 100%;
    margin-bottom: 8px;
}

.textarea-wraper{

}


.card-show-description-edit-button{
    width: 16%;
    font-family: $theme-font-base;
    font-size: 80%;
}

.card-show-remove-card-button{
    width: 16%;
    border-radius: 5px;
    background: gray;
    font-family: $theme-font-base;
}

.card-show-remove-card-button{
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: white;
    font-size: 75%;


}