@import "../base/color.scss";
@import "../base/fonts.scss";
@import "../base/mixin.scss";



.card-show-container{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 75%;
    justify-content: start;
    text-align: center;
    font-family: $theme-font-base;
    position: relative;
}
.card-show-description-wrapper{

}
.card-show-card-title{
    font-size: 24px;
    color:$theme-background-color-login-nav;
    padding-bottom: 10px;
    word-break: break-word;
}


.card-show-list-title{
    color: #565252;
    font-size: 14px;
    
}
.card-show-task-description-container{
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6px;
    word-break: break-word;
    background: #e0dddd;
}
// .card-show-task-description-container:focus{
//     background: gray;
// }


.card-show-description-title{
    text-align: left;
    font-size: 15px;
    margin-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #565252;
    text-align: center;

}

.card-show-edit-description-form-container{
    display: flex;
    flex-direction: column;
    font-family: $theme-font-base;
}

.card-show-description-input{
    height: 100px;
    border-radius: 5px;
    border-color: transparent;
    color: black;
    font-size: 17px;
    font-family: $theme-font-base;
    resize: none;
    width: 100%;
    margin-bottom: 8px;
    background: #e0dddd;
}



.card-show-description-edit-button{
    @include submitButton;
    margin-left: unset;
}
.card-show-description-edit-button:hover{
    @include submitHover;
}

.card-show-remove-card-button{
    @include submitButton;
    position: absolute;
    top: unset;
    bottom: 5px;
    right: 5px;
    margin-left: unset;
    
}

.card-show-remove-card-button:hover{
    @include submitHover;
}