@import "../base/color.scss";
@import "../base/fonts.scss";
@import "../base/mixin.scss";



.left-text-div{
        // display: flex;
        width: 50%;
    }

.outter-demo-container{
    @include splashSectionLayout();
    color: white;
    background: $theme-background-splash;
    padding-bottom: 4px; 
    height: auto;
    width: 100vw;
    
    .demo-user-container-center{
        padding-inline-start: 100px;
        padding-inline-end: 100px;
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px; 
        background: $theme-background-splash;
       
    

    .tag-line-message{
        font-size: 3rem;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-block-start: 0.83em;
    }
    .sub-tag-line-message{
        font-size: 1.5625rem;
        font-weight: 300;
        margin-top: 16px;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    input{
        @include signinButton();
        width: 245px;
    }

    
}
}

.right-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;
        width: 50%;
    }
    .hero-image-demo{
        vertical-align: middle;
        border-style: none;
        max-width: 95%;
        align-self: flex-end;
    }



.splash-page-container{
    background-image: url("https://yollo.s3-us-west-1.amazonaws.com/background.png");
    background-color: #dfe2ff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 100vw;
    height: 450px;
    color: black;
    align-items: center;
    justify-content: center;

    .splash-middle-text-container{
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
    }
    .splash-text-title{
        font-size: 30px;
        font-weight: bold;
        color: #8c318c;
        // color: $theme-color-submit;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        padding-bottom: 10px;
    }
    .splash-text-body{
        font-size: 20px;
        color: #8c318c;
        font-weight: bold;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}

.splash-page-footer{
    font-size: 16px;
    height: 100px;
    text-align: center;
    background: $theme-background-color-nav;
    font-family: $theme-font-base;
    color: lightgray;
    
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        padding: 10px;
    }
    .github-logo{
        color: white;
        font-size:30px;
        padding-right: 5px;
    }
    .linkedIn-logo {
        color: white;
        font-size:30px;
        padding-right: 5px;
    }
    a {
        color: white;
        line-height: 3;
        text-decoration: underline;
        font-family: $theme-font-base;
        }
}

@media (max-width: 1000px){
    .left-text-div{
        // color: purple;
        text-align: center;
        width: 100%;

    }
    .demo-user-container-center{
        flex-direction: column;
    }
    .right-image{
        width: 100%;
    }

    .hero-image-demo{
        align-self: center;
    }

    .splash-page-container{
        height: 400px;
        background-position: center;
    }
    
}
