@import "../base/reset.scss";
@import "../base/color.scss";
@import "../base/mixin.scss";
@import "../base/color.scss";
@import "../base/fonts.scss";

.login-form-container{
    //general sytles
    width: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em;
    font-family: $theme-font-base;

    h1{
        font-size: 38px;
        height: 100%;
        color: #333;
        line-height: 48px;
        font-weight: bold;
        margin-bottom:  5px;
        font-family: $theme-font-base;
    }
    a{
        margin-bottom: 15px;

    }
    a, a:visited{
        color: $link-color;
    }

    a:hover{
        color: $hover-link-color
    }

    .errors{
        li{
            margin-bottom: 5px;
            color: #eb5a46;
        }
    }

    //input box
    input[type="text"],
    input[type="email"],
    input[type="password"] { 
        @include signinInputBox();
        margin-top: 10px;
    }

    // input type submit general 
    input[type="submit"]{
        background-color: $theme-color-submit;
        @include signinButton();
    }

    .demo-submit{
        margin-top: 20px;
    }

    label {
        display: block;
        margin: 0 0 10px;
    }
    .error-message {
        background: $error-color;
        color: #fbedeb;
        font-size: 14px;
        font-family: $theme-font-base;
        border: 1px solid $error-color;
        display: inline-block;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

}